.banner-principal-decorativo
  &-1
    animation: float1 3.0s ease-in-out infinite alternate
    position: absolute
    top: 12%
    left: -20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: -6%
  &-3
    animation: float2 1.5s ease-in-out infinite alternate
    position: absolute
    top: 60%
    left: -40%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes float2
  0%
    transform: translateX(30px)
  100%
    transform: translateX(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 300px !important
  
.banner-principal__img
  top: 3rem
  right: 2rem

.banner-principal__descripcion
  max-width: 85%

.banner-principal__info
  @media screen and (max-width: 1024px)
    margin-left: 1.5rem

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario
.banner-interno__fondo
  background-image: url("../assets/curso/portada/img1.png") !important
  background-repeat: no-repeat
  background-size: cover

figcaption
  font-weight: normal

///INTRO
.text-intro
  background-color: #E5F0FE
  padding: 2rem 2rem 1rem 2rem

///FONDOS IMAGENES
.fondo-tema1
  background-image: url("../assets/curso/tema1/fondo.png")
  background-repeat: no-repeat
  background-size: cover
  margin-top: -2.5rem
  margin-inline: -3.2rem !important
  padding: 2rem 1rem 3rem 3rem
  @media screen and (max-width: 1024px)
    padding: 1rem 0.2rem 0rem 1.5rem
///FONDO - BLOQUE 2 Y 3
.fondo-tema2
  background-image: url("../assets/curso/tema2/fondo.png")
  background-repeat: no-repeat
  background-size: cover
  margin-top: -2.5rem
  margin-inline: -3.2rem !important
  padding: 2rem 1rem 3rem 3rem


///TEMA 1

///BLOQUE 2
.img-tema1
  background-color: #FCF7D5
  display: flex
  justify-content: center
  align-items: center
  height: 360px
.text-tema1
  background-color: #F2EEE7
  padding: 2rem 1rem 0.5rem 2rem
  margin-left: 0.5rem
  @media screen and (max-width: 1024px)
    top: 2rem
    padding: 0.5rem
    margin-left: 0px


///TEMA 2 

///BLOQUE 1   
.tabs-c__tab--active
  font-weight: 700
.py-md-4
  background-color: #F9F7F3
  width: auto
  padding-top: 5rem !important
  padding-bottom: 4rem !important
  padding-left: 5rem !important
  padding-right: 4rem !important
  @media screen and (max-width: 1024px)
    padding: 2rem !important
.caja-text-img-tema2-bloque1
  background-color: #F9EEAB
  p
    align-items: center
    justify-content: center
    padding: 1rem 1rem 0rem 0rem
    @media screen and (max-width: 1024px)
      padding: 1rem 1rem 0rem 1rem
  img
    position: relative
    bottom: -3px
    left: 15px

///BLOQUE 2
.text-tema2-bloque2
  background-color: #E5F0FE
  align-items: center
  justify-content: center
  padding: 1rem 1rem 1rem 2rem
  @media screen and (max-width: 1024px)
    margin-bottom: 1rem

///BLOQUE 3
.text-tema2-bloque3
  padding: 0rem 0rem 0rem 1rem
  margin-top: -0.5rem
  margin-bottom: 1.5rem
  @media screen and (max-width: 1024px)
    padding: 0rem
.img-tema2-bloque3
  @media screen and (max-width: 1024px)
    display: none


///TEMA 3 
  
///BLOQUE 2
.text-tema3-bloque2
  background-color: #BDD9FD
  padding: 2rem 2rem 1rem 3rem
  @media screen and (max-width: 1024px)
    margin-bottom: 0.5rem
    padding: 1rem
.caja-text-img-tema3-bloque2
  background-color: $color-acento-contenido
  @media screen and (max-width: 1024px)
    margin-top: 2rem
  p
    color: #fff
    align-items: center
    justify-content: center
    padding: 1rem 1rem 0rem 0rem
    @media screen and (max-width: 1024px)
      padding: 1rem 1rem 0rem 1rem
  img
    position: relative
    bottom: -3px
    left: 15px

.text-tema3-bloque2-1
  @media screen and (max-width: 1024px)
    margin-top: 2rem

///BLOQUE 3
.img-tema3-bloque3
  @media screen and (max-width: 1024px)
    display: none
.text-tema3-bloque3
  background-color: #E5F0FE
  @media screen and (min-width: 1400px)
    p
      padding: 1rem 0rem 0.6rem 0rem
.svg-tema3-bloque3
  @media screen and (min-width: 1400px)
    padding-top: 1rem
.text-tema3-bloque3-1
  background-color: #F2EEE7
  border-radius: 0.5rem
  padding: 1rem 0rem 0rem 1rem
.text-tema3-bloque3-2
  padding: 1rem 0rem 0rem 0rem
.img-tema3-bloque3-1
  padding: 0rem 0rem 0rem 1rem
  @media screen and (max-width: 1024px)
    display: none


///TEMA 4 

///BLOQUE 1
.text-tema4-bloque1
  background-color: #BDD9FD
  padding: 2rem 2rem 0rem 2rem
  @media screen and (max-width: 1024px)
    margin-top: 1rem
  @media screen and (min-width: 1400px)
    padding: 3rem 3rem 0rem 3rem
.text-tema4-bloque1-1
  margin-bottom: 3rem
  @media screen and (max-width: 1024px)
    margin-top: 2rem
    margin-bottom: 2rem
.text-tema4-bloque1-2
  background-color: $color-acento-contenido
  border-radius: 0.5rem
  margin-bottom: 0.7rem
  p 
    color: #fff
  @media screen and (max-width: 1024px)
    margin-bottom: 1.5rem
  @media screen and (min-width: 1400px)
    p
      padding: 0.5rem 0rem 0.6rem 0rem

///BLOQUE 2
.text-tema4-bloque2
  background-color: $color-acento-contenido
  margin-left: -0.8rem
  p
    padding: 1rem 1rem 0rem 1rem
    color: #fff
  @media screen and (max-width: 1024px)
    margin-bottom: 0.5rem
    margin-left: 0rem
  @media screen and (min-width: 1400px)
    p
      padding: 2.5rem 2rem 0rem 2rem
.img-tema4-bloque2
  @media screen and (max-width: 1024px)
    img
      display: none

///BLOQUE 4  
.text-tema4-bloque4
  background-color: $color-acento-contenido
  display: inline-flex
  align-items: flex-end
  padding: 1rem 2rem 2rem 2rem
  color: #ffffff
  border-radius: 0.5rem

///BLOQUE 5 
.acordion__accion__btn--a
  background-color: $color-acento-botones
.acordeonA
  background-color: $color-primario
.acordion__activo
  background-color: $color-adicional-1
.img-tema4-bloque5
  @media screen and (min-width: 1400px)
    width: 380px

///BLOQUE 6
.text-tema4-bloque6
  background-color: #E5F0FE
  p 
    margin-left: -1rem
    padding: 0rem
  @media screen and (max-width: 1024px)
    margin-bottom: 1.5rem
  @media screen and (min-width: 1400px)
    p
      padding: 0.5rem 1rem 0rem 1rem !important
.img-tema4-bloque6
  @media screen and (min-width: 1400px)
    img
      width: 440px !important


///BLOQUE 7
.img-tema4-bloque7
  @media screen and (min-width: 1400px)
    img
      width: 400px
.caja-text-img-tema4-bloque7
  background-color: $color-acento-contenido
  @media screen and (max-width: 1024px)
    margin-top: 2rem
  p
    color: #fff
    align-items: center
    justify-content: center
    padding: 1rem 3rem 0rem 0rem
    @media screen and (max-width: 1024px)
      padding: 1rem
  img
    position: relative
    bottom: -3px
    left: 15px

///BLOQUE 8
.text-tema4-bloque8
  background-color: #FCF7D5
  padding: 1.5rem 2rem 1rem 3rem
  justify-content: center
  align-items: center
  @media screen and (max-width: 1024px)
    margin-bottom: 1rem
  @media screen and (min-width: 1400px)
    p
      padding: 0.7rem 1rem 0.7rem 1rem
.caja-text-img-tema4-bloque8
  background-color: $color-acento-contenido
  @media screen and (max-width: 1024px)
    margin-top: 2rem
  p
    color: #fff
    align-items: center
    justify-content: center
    padding: 1rem 3rem 0rem 0rem
    @media screen and (max-width: 1024px)
      padding: 1rem
  img
    position: relative
    left: 15px






